<%= form_for :session, url: session_path do |form| %>
  <div class="text-field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: 'form-control' %>
  </div>

  <div class="password-field form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= form.button "Log in", class: "btn btn-default" %>
  </div>

  <div class="other-links">

    <%= link_to t(".forgot_password"), new_password_path %>

  </div>
<% end %>
