<%= simple_form_for @list ,html: { multipart: true } do |f| %>
  <% if @list.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@list.errors.count, "error") %>
        prevented this List from saving
      </h2>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :rate, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :tag_list, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images,  class: 'form-control'  , multiple: true %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' }%>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>