<div class="col-md-4 panel-success list-info-col" >
	<div class="row panel-heading">
		<p ><span class="pull-left" style="font-size:17px">$<%= @list.rate %></span><span class="pull-right"> Per night</span></p>
	</div>
	<%= form_for [@list, @reservation] ,html: { multipart: true } do |f| %>
		<table style="width:100%" align="center">
		  <tr >
		    <th><label for="dateFrom">Check In</label></th>
		    <th ><label for="dateTo">Check Out</label></th>
				<th><label>Guests:</label></th>
		  </tr>
			<%= render '/shared/error_messages', :object => @reservation%>
		  <tr>
		    <td><%= f.date_field :start_date, type: 'text', id: "dateFrom", size: "10", placeholder: "dd/mm/yyyy" %></td>
		    <td><%= f.date_field :end_date, type: 'text', id: "dateTo", size: "10", placeholder: "dd/mm/yyyy" %></td>
		    <td><%= f.number_field :guest, type: 'number', value: "1", min: "1", max: "10"%></td>
		    <td><%= f.hidden_field :listing_id , value: @list.id %></td>
		  </tr>
			
		</table>
		<br>
		<div class="row text-center">
			<div class="form-actions col-md-8 col-md-offset-2">
		    <%= f.button "Request to Book", class: "btn btn-success btn-block"  %>
		  </div>
	  </div>
  <% end %>
  <br>
  <br>
</div>
