<div id="list_show" class="row" data-id="<%= @date %>">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading list_image text-center">
				<% if @list.images.first != nil %>
 					<%= render 'listings/carousel' %>
 				<% end %>
			</div>
			<div class="panel-body">
				<div class="row-fluid">
					<div class="col-md-8">
						<h1><%=	@list.title %></h1>
						<p class="description"><%= simple_format(@list.description) %></p>
					</div>
					<% if signed_in? && !correct_user? %>
						<%= render 'listings/reservation' %>
					<% end %>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-6">
						<p class="user">Listed by: <%= @list.user.email %></p>
					</div>
					<div class="col-md-6">
						<div class="btn-group pull-right">
							<% if signed_in? && correct_user? %>
								<%= link_to "Edit", edit_listing_path(@list), class: "btn btn-default" %>
								<%= link_to "Delete", @list, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
							<% end %>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>