<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">My Reservations</div>

  <!-- Table -->
  <table class="table  table-striped">
    <tr width="100%">
	    <th>No.</th>
	    <th>Listing</th> 
	    <th>Start Date</th>
	    <th>End Date</th>
	    <th>Guest</th>
	  </tr>
	  <% @reservations.each_with_index do |reserve, key| %>
	  	<tr class="table-striped">
		    <td><%= key + 1 %></td>
		    <td><a href="/listings/<%= reserve.listing.id %>"><%= reserve.listing.title %></a></td> 
		    <td><%=reserve.start_date%></td>
		    <td><%=reserve.end_date%></td>
		    <td><%=reserve.guest%></td>
		  </tr>
	  <% end %>
  </table>
</div>