<!DOCTYPE html>
<html>
<title>PairBnb</title>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <i class="fa fa-home" aria-hidden="true"></i> PairBnB
        <% end %>
      </div>
      <%= render 'layouts/search' %>
      <% if signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "New List", new_listing_path%></li>
          <li><%= link_to "My reservations", user_reservations_path(current_user)%></li>
          <li><%= link_to "Account", user_path(current_user)%></li>
          <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if Clearance.configuration.allow_sign_up? %>
              <%= link_to t(".sign_up"), sign_up_path %>
            <% end %>
          </li>
          <li><%= link_to "Sign In", sign_in_path%></li>
        </ul>
      <% end %>
    </div>
  </nav>

  <div class="container">
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="alert alert-info" role="alert" id="flash_<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </div>
</body>
</html>

